# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/

# OS
.DS_Store

# Build & logs
logs/
*.log

# Project artifacts
experiments/artifacts/
experiments/artifacts/**

# Raw or intermediate data
raw_data/
data/
*.parquet
*.npz
*.csv

# VSCode / IDE
.vscode/
.idea/
